.client {
    padding-bottom: 100px;
    &-list {
        display: flex;
    }

    &-item {
        flex: 1;
        padding: 45px 25px;
        border: 1px solid #eee;
        border-radius: 20px;
    }

    &-item:not(:first-child) {
        margin-left: 70px;
    }
}