.plan {
    padding-bottom: 100px;

    &-list {
        display: flex;
        justify-content: space-between;
    }

    &-item {
        border: 1px solid #eee;
        border-radius: 15px;
        width: calc(33.33% - 30px);
        padding: 75px 25px;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: all 0.2s linear;

        &:hover {
            border-color: transparent;
            box-shadow: 0 0 50px 0 rgba(black, 0.03);
        }

        &:hover .plan-button-start{
            border-color: $primary-color;
            background-color: $primary-color;
            color: white;
        }
    
    }

    &-name {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    &-price {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 30px;
        padding-bottom: 40px;
        border-bottom: 1px solid #eee;
    }

    &-symbol {
        vertical-align: top;
    }

    &-month {
        font-weight: 600;
        font-size: 30px;
    }

    &-desc {
        margin-bottom: 55px;
    }

    &-feature {
        font-size: 20px;
        margin-bottom: 35px;
        font-weight: 500;
    }

    &-feature-item {
        margin-bottom: 25px;
        color: $gray;
        font-weight: 300;
    }

    &-feature-item:last-of-type {
        margin-bottom: 75px;
    }

    &-feature-icon {
        font-size: 20px;
        margin-right: 10px;
    }

    &-button-start {
        margin: auto auto 0;
        display: block;
        width: max-content;
    }

    &-label {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        background-color: $pink-color;
        color: white;
        text-transform: capitalize;
        border-radius: 0 15px 0 15px;
        font-size: 14px;
    }
}

