.work {
    padding-top: 145px;
    padding-bottom: 50px;
    &-list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        // 2 khoang trong:" 2 * 70 = 140;
        // 140 / 3 = 46.67
        // css grid
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // grid-column-gap: 70px;
    }
    &-item {
        width: calc(33.33% - 46.67px);
        padding: 40px 30px;
        border: 1px solid $gray-light;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        line-height: 1.4;
        transition: all 0.2s linear;
    }
    &-item:hover {
        border-color: transparent;
        box-shadow: 0 0 50px 0 rgba(black, 0.03);
    }
    &-more {
        transition: all 0.2s linear;
    }
    &-item:hover .work-more{
        border-color: $primary-color;
        background-color: $primary-color;
        color: white;
    }
    &-image {
        margin-bottom: 35px;
        max-height: 115px;
    }
    &-title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    &-desc {
        margin-bottom: 35px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        max-width: 100%;
        word-break: break-word;
        display: -webkit-box;
    }
}