$gray-dark: #272e35;
$primary-color: #579aff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-size: 16px;
    color: #262e36;
    line-height: 1.5;
    font-family: "Poppings", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    // font-family: ;
    font-size: 16px;
    line-height: 1;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

//button
.button {
    display: inline-block;
    color: $gray-dark;
    padding: 20px 45px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    line-height: normal;
    &--primary {
        color: white;
        background-color: $primary-color;
    }
}

.header {
    padding: 43px 0 0 0;
    display: flex;
    align-items: center;

    &-logo {
        display: block;
        margin-right: 180px;
    }

    &-auth {
        margin-left: auto;
    }

    &-menu {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &-menu-item:not(:first-child) {
    }

    &-menu-link {
        color: $gray-dark;
        transition: color 0.2s ease-in-out;

        &:not(:first-child) {
            margin-left: 75px;
        }

        &:hover {
            color: $primary-color;
        }
    }
}